<fieldset class="formbuilder-terms">
    <div class="copy">
        <p>{{ terms.copy |raw }}</p>
    </div>

    <div class="field">
        <div class="input">
            <input type="hidden" name="formbuilderTermsConditions" value="0">
            <input type="checkbox" name="formbuilderTermsConditions" value="1" id="formbuilder-terms-conditions"> <label for="formbuilder-terms-conditions">{{ terms.label }}</label>
        </div>
    </div>
</fieldset>