{% set id = (id ?? 'date'~random())~'-date' -%}
{% set name = name ?? null -%}
{% set value = value ?? null -%}

{% if field.settings.showDate %}
    <div class="datewrapper">
            <input type="text"
                name="{{ name }}[date]"
                value="{{ value ? value|date('short') : '' }}"
                placeholder=" "
                autocomplete="off"
                size="10">

        <div data-icon="date"></div>
    </div>
{% endif %}

{% if field.settings.showTime %}
    <div class="timewrapper">
            <input type="text"
               name="{{ name }}[time]"
               value="{{ value ? value|date('short') : '' }}"
               placeholder=" "
               autocomplete="off"
               size="10">

        <div data-icon="time"></div>
    </div>
{% endif %}