@import "../components/_slack-loader";

.formbuilder.fb-dashboard {
    #page-header {
        @include position(absolute, 10px 10px auto auto);
        width: 100%;
        background: transparent;

        .page-header {
            display: none;
        }
    }

    #main {
        padding: 0;
        background-color: $c-offWhite;
        & > .padded { padding: 0; }
    }

    #hero {
        background-color: rgba($c-purple, .6);

        .content-wrapper {
            padding: 40px 60px 20px 60px;
        }

        .product-info {
            margin-bottom: 30px;
        }

        h1 {
            display: flex;
            font-family: $roboto;
            font-size: 45px;
            font-weight: 900;
            color: white;
            @include antialias;

            .logo {
                margin-right: 15px;
            }
        }

        .pane {
            padding: 15px 25px;
            background-color: rgba($c-purple, .2);
        }
    }

    .button-group {
        margin-top: 20px;
    }

    .dashboard-container {
        padding: 40px 60px;

        .total-entry-count {
            position: static;
            padding: 3px 7px;
            font-size: inherit;
        }

        .pane {
            padding: 0;
        }
        
        .elementindex {
            td {
                text-align: left;
            }
        }

    }

    .features-wrapper {
        display: flex;
        flex-wrap: wrap;

        .feature-item {
            text-align: center;
            &:first-child {
                margin-left: 0 !important;
            }
            margin: 10px !important;
        }

        .feature-count {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 7px;
        }

        .feature-title {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .04em;
            text-transform: uppercase;
            opacity: .4;
        }

        span {
            font-family: $roboto;
            display: block;
            color: white;
            line-height: normal;
            @include antialias;
        }
    }


    .slack-tout {
        background-color: rgba($c-purple, .6);
        padding: 30px 20px;

        .invitation-message {
            margin: 0;
        }
        
        .tout-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        h1 {
            color: white;
            font-family: 'Roboto';
            font-weight: 500;
            margin-bottom: 20px;
            @include antialias;
        }
        
        .input {
            position: relative;
        }

        input {
            color: $c-text;
            font-family: 'Roboto';
            font-weight: 500;
            letter-spacing: .03em;
            padding: 11px 15px 10px 15px;
            outline: none;
            min-width: 200px;
            border: 0;
            border-radius: $border-radius;
            background: white;
            margin-right: 5px;
            @include antialias;
        }
    }
}
