{% extends '_layouts/cp' %}
{% hook 'formBuilder.prepTemplate' %}

{% set title = 'Dashboard' %}
{% set selectedSubnavItem = "dashboard" %}
{% set bodyClass = 'formbuilder fb-dashboard' %}


{% block pageHeader %}
    {% include 'formbuilder/_includes/_header' ignore missing with { title: title } %}
{% endblock %}

{% block main %}
    <h2 style="padding: 0px 50px 50px 30px; ">Widgets and other useful information coming soon!</h2>
{% endblock %}